* {
  color:rgb(93, 93, 93);
}

.form {
  position: absolute;
  left: 50%;
  bottom: calc(5% + 20px);
  z-index: 9999;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  gap: 4px;
  pointer-events: none;

}

.form #confirm-help-text {
  position: relative;
  font-size: 2vw;
  text-align: center;
  left: calc(8vw + 50%);
  top:2vw;
  display: flex;  
}

.form #confirm-help-text * {
  pointer-events: none;

}

.form #confirm-help-text .confirm-help-img {
  width: 28.30vw;
  height: 6vw;

}

.form #btn {
  position: relative;
  width: 16vw;
  height: 5vw;
  font-size: 2vw;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
  border:solid black 2px;
  background-color: white;
}

.form #btn:hover {
  background-color: rgb(240, 240, 240);
}

#show-answer-btn {
  position: absolute;
  left: 50%;
  bottom: calc(6% + 15px + 5.5vw);
  z-index: 9999;
  transform: translate(-50%, 0%);
  width: 16vw;
  height: 5vw;
  font-size: 2vw;
  border-radius: 6px;
  border:solid black 2px;
  background-color: white;
}

#show-answer-btn:hover {
  background-color: rgb(240, 240, 240);
}

.timer {
  position: absolute;
  top: 0;
  margin-top: 18px;
  left: calc(5vw + 21.5px + 10px);
  z-index: 19999;
  display: column;
  pointer-events: none;

} 

#safeTimerDisplay {
  font-size: 3vw;
  width:max-content;
  /*
  -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  */
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 10px;
  padding-inline:4px;
}

#timer-help-text {
  position: relative;
  z-index: 9999;
  pointer-events: none;
}

#timer-help-text .timer-help-img {
  width: 31.6vw;
  height:7vw;
}

.last-countdown {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 29999;
  pointer-events: none;
  font-size: 5vw;
  color:red;
  transform: translateX(-50%);

  transition: transform 0.2s ease-in-out;
}

/* Animation for the last 5 seconds */
@keyframes growAndShrink {
  0% {
    transform: scale(1) translateX(-50%);
  }
  50% {
    transform: scale(1) translateX(-50%);
  }
  60% {
    transform: scale(1.5) translateX(-50%);
  }
  100% {
    transform: scale(1) translateX(-50%); /* Shrink back */
  }
}

.timer-warning {
  animation: growAndShrink 1s infinite; /* Repeat animation every second */
}

.form #latitude {
  pointer-events: none;
  position: relative;
}

.form #longitude {
  pointer-events: none;
  position: relative;
}

#btn:disabled {
  background: #999;
  color: #555;
  cursor: not-allowed;
}


#popup-container {
  position: absolute;
  padding: 15px calc(10px + 7vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;

}

#map-help-text {

  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  z-index: 19999;
  margin-bottom: 8px;
  border:solid black 1.5px;
  color:black;
  border-radius: 4px;
  padding:4px;
}

#popup-container .popup-box {
  font-size: 2vw;
  align-items: center;
  justify-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.9) !important;
  /* border:solid black 1px;*/
  padding:10px;
  border-radius: 10px;


}

#roundDisplayDiv {
  position: absolute;
  font-size: 3vw;
  left: calc(12vw + 21.5px + 20px);
  z-index: 9999;
  top: 0;
  margin-top: 18px;
  /*
  -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  */
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 10px;
  padding-inline:4px;
  pointer-events: none;
}

#scoreDisplayDiv {
  position: absolute;
  font-size: 3vw;
  left: calc(26vw + 21.5px + 30px);
  z-index: 9999;
  top: 0;
  margin-top: 18px;
  /*
  -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
  */
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 10px;
  padding-inline:4px;
  pointer-events: none;
}


#popup-container .popup-box .close-btn {
  margin-bottom: calc(5px + 3vw);
  margin-top: calc(5px + 2vw);
  width: 16vw;
  height: 5vw;
  font-size: 2vw;
  pointer-events: auto;
  color:rgb(28, 102, 186);
  background-color: rgba(112, 217, 255, 0.504);
  border:none;
  border-radius: 4px;
}

#popup-container .popup-box .close-btn:hover {
  color:rgb(21, 76, 139);
  background-color: rgba(35, 106, 132, 0.504);
}

#popup-container .popup-box .popup-content {

  margin-bottom: 0;
  white-space: nowrap;

}

#popup-container .popup-box h1 {
  color:rgb(28, 102, 186);

  margin-top: 10px; 
  margin-bottom:1vw;
  font-size: 2vw;
}

#popup-container .popup-box .popup-content h1 {
  color:rgb(28, 102, 186);

  margin: 0; 
  display: inline-block;
  font-size: 2vw;
}

#popup-container .popup-box .popup-content .line-separator {
  width: 100%; 
  height: 1.5px;
  margin-top: 0; 
  margin-bottom: calc(2vw + 5px);
  background-color: rgb(93, 93, 93);
}


.leaflet-touch .leaflet-bar a {
  width: 5vw !important;
  height: 5vw !important;
  line-height: 5vw !important;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 4vw !important;
  z-index: 1100;
  display: block;
}





#zoom-help-text {
  position: absolute;
  top: calc(10vw + 21.5px);
  left: calc(5vw + 21.5px);
  z-index: 19999;

  pointer-events: none;

}

#zoom-help-text .zoom-help-img{
  width:  27.73vw;
  height: 8vw;
}

/*
#round-help-text {
  position: absolute;
  font-size: 2vw;
  bottom: 4%;
  left: 4%;
  z-index: 9999;
  display:flex;
  column-gap: 8px;
}
#score-help-text {
  position: absolute;
  font-size: 2vw;
  bottom: 4%;
  left: 4%;
  z-index: 9999;
  display:flex;
  column-gap: 8px;
}


#help-help-text {
  position: absolute;
  font-size: 2vw;
  bottom: calc(3% + 10px);
  left: calc(18% + 15px);
  z-index: 9999;
  display: flex;
  column-gap: 2px;
  pointer-events: none;
  vertical-align: middle;

}
*/
#warning-help-text {
  position: absolute;
  top: 1%;
  right: calc(1% + 1vw);
  z-index: 19999;
  text-align: end;
  display: flex;
  pointer-events: none;
}

#warning-help-text .warning-help-img {
  width:  27.22vw;
  height: 9vw;
}




#popup-container .popup-box .mode-selector-div {
  position: relative;
  /*border:solid blue 1px;*/
}



#popup-container .popup-box .tooltip-trigger {
  position: relative;
  cursor: default;
  /*border:solid red 1px;*/
  display: flex; 
  align-items: center; 
  gap: 2px; 
  margin-top: calc(10px + 2vw);
  margin-bottom: 0px;
}

#popup-container .popup-box .tooltip-trigger .tooltip-content {
  display: none; 
  position: absolute;
  left: 102%; 
  /*border:solid green 3px;*/
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 4px;
  font-size: 1.5vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  white-space: nowrap;
}

#popup-container .popup-box .tooltip-trigger:hover .tooltip-content {
  display: block; 
  opacity: 1;
}

#popup-container .popup-box .tooltip-trigger .input-coding {
  width: 2vw;
  height: 2vw;
  /*border:solid yellow 3px;*/
}

#help-control {
  position: absolute;
  top: calc(10vw + 28px);
  left: 18px;
  z-index: 9999;
  display: flex;

}

#help-button {

  background:white;

  cursor: pointer;
  border-radius: 4px;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertically center the icon */
  justify-content: center; /* Horizontally center the icon */
  width: calc(5vw + 3.5px);
  height: calc(5vw + 3.5px);
  line-height: 5vw;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;

}

#help-button.off:hover {
  background:rgb(240, 240, 240);
}

#help-button.on:hover {
  background:rgb(240, 240, 240);;
}

#help-button.on {
  border:solid blue 3px; /* Yellow for the "on" state */
}

#help-button.off {
  background: white; /* White for the "off" state */
}

/* Ensures the image doesn’t intercept clicks */
#help-button img {
  width: 4.5vw;
  height: 4.5vw;
  pointer-events: none;
}