.form {
  position: absolute;
  left: 50%;
  bottom: calc(5% + 20px);
  z-index: 9999;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  gap:4px;
  pointer-events: none;
}

.form #confirm-help-text {
  position: relative;
  font-size: 2vw;
  text-align: center;

  display:flex;
}

.form #confirm-help-text * {
  pointer-events: none;
}

.form #btn {
  position:relative;
  width: 16vw;
  height: 5vw;
  font-size: 2vw;
  left:50%;
  transform: translate(-50%, 0);
}

.timer {
  position: absolute;
  top: calc(2% + 10px);
  left: calc(10% + 20px);
  z-index: 9999;
  display:column;
  pointer-events: none;
}

#safeTimerDisplay {
  font-size: 3vw;
}

#timer-help-text {
  position: relative;
  font-size: 2vw;

  z-index: 9999;
vertical-align: middle;
  column-gap: 8px;
  
}

.form #latitude {
  pointer-events: none;
  position: relative;
}

.form #longitude {
  pointer-events: none;
  position: relative;
}

#btn:disabled {
  background: #999;
  color: #555;
  cursor: not-allowed;
}

.license {
  position: absolute;
  right: 75px;
  bottom: 13px;
  z-index: 9999;
  font-size: 0.75em;

}

#popup-container {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
}

#map-help-text {

  font-size: 2vw;
  text-align: center;
  z-index: 9999;
  margin-bottom:8px;

}

#popup-container .popup-box {
  font-size: 2vw;
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.5) !important;
 /* border:solid black 1px;*/
  padding: 10px;
}

#roundDisplayDiv {
  position: absolute;
  font-size: 2.5vw;
  top: 5%;
  right: 8%;
  z-index: 9999;
}

#popup-container .popup-box .close-btn {
  margin: 20px;
  width: 16vw;
  height: 5vw;
  font-size: 2vw;
  pointer-events: auto;
}

#popup-container .popup-box .popup-content {
  margin: 20px;
}



.leaflet-touch .leaflet-bar a {
  width: 5vw !important;
  height: 5vw !important;
  line-height: 5vw !important;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-size: 4vw !important;
  z-index: 1100;
  display: block;
}

#help-control {
  position: absolute;
  font-size: 2vw;
  bottom: 4%;
  left: 4%;
  z-index: 9999;
  display:flex;
  column-gap: 8px;
}

#help-control #help-button{
  font-size: 1.5vw;
  border-radius: 34px;
}


#zoom-help-text {
  position: absolute;
  font-size: 2vw;
  top: calc(11vw + 20px);
  left: 20px;
  z-index: 9999;
  display:flex;
  column-gap: 2px;
  pointer-events: none;
}
/*
#round-help-text {
  position: absolute;
  font-size: 2vw;
  bottom: 4%;
  left: 4%;
  z-index: 9999;
  display:flex;
  column-gap: 8px;
}
#score-help-text {
  position: absolute;
  font-size: 2vw;
  bottom: 4%;
  left: 4%;
  z-index: 9999;
  display:flex;
  column-gap: 8px;
}*/


#help-help-text {
  position: absolute;
  font-size: 2vw;
  bottom: calc(3% + 10px);
  left: calc(18% + 15px);
  z-index: 9999;
  display:flex;
  column-gap: 2px;
  pointer-events: none;
  vertical-align: middle;

}

#warning-help-text {
  position: absolute;
  font-size: 2vw;;
  top: 1%;
  right: 1%;
  z-index: 9999;
  text-align: end;
  display:flex;
  pointer-events: none;
}

.arrow-img {
  width: 2vw;
  height: 2vw;
  vertical-align: middle;
  align-self: center;
}

#timer-help-text .arrow-img {
  transform: translate(0,-30%);
}
